<% cache margin do %>
<div id="<%= dom_id margin %>" data-url="<%= margin_path(margin) %>" class="margin" data-position="<%= margin.position %>" contenteditable="true"><%= margin.body %></div>
<% end %>