<% verse = annotated %>
<tr>

	<td class="left_margin_wrapper margin_wrapper">
		<%= render current_user.margins.find_or_create_by_ref_and_position(verse.reference, "left") %>
	</td>

	<td id="<%= dom_id verse %>" class="verse_wrapper"><%= render verse %></td>
	
	<td class="right_margin_wrapper margin_wrapper">
		<%= render current_user.margins.find_or_create_by_ref_and_position(verse.reference, "right") %>
	</td>

</tr>