<% verse = annotated %>
<tr>

	<td class="left_margin_wrapper margin_wrapper">
		<div class="margin" data-position="left" contenteditable="true">
			adsf
		</div>
	</td>

	<td><%= render verse %></td>
	
	<td class="right_margin_wrapper margin_wrapper">
		<div class="margin" data-position="right" contenteditable="true">
			adsf
		</div>
	</td>

</tr>