<% cache story do %>
	<div id="<%= dom_id story %>" class="story" data-story_url="<%= quick_story_path(story.user.username, story) %>">
		<span class="name"><%= story.name %></span><br />
		<span class="user_name"><%= story.user.name %></span>
	</div>
<% end %>