<% title "66Books" %>

<div class="content">
	Thanks for visiting 66Books.co.<br /><br />
	We're not quite ready to roll out the awesome and speedy mobile version yet, but we promise it will be worth it.<br /><br />
	If you just can't wait any longer - visit 66Books.co from your computer.<br /><br />
	Thanks,<br />
	The 66Books.co Team<br /><br />
</div>