<div class="tip">
	<span class="font_awesome do_search"><i class=\"icon-search\"></i></span>
	<span class="title"><%= lexicon.translit %></span>
	<span class="code"><%= lexicon.code %></span>
	<span class="pronunciation">pronounced <%= lexicon.phonetic %></span>
	<span class="definition"><%= lexicon.ipd_def.to_s.html_safe %></span>
</div>