#bible {
	width: 37%;
	position: fixed;
	left: 26%;
	top: 0;
	bottom: 0;
	overflow: hidden;
	border-right: 1px solid #eee;
	background: #fff;
	z-index: 101;

	.margin_view {
		position: absolute;
		top: 5px;
		right: 5px;
		color: #ccc;
		text-decoration: none;
		
		&:hover {
			color: #8a0000;
		}
	}
	
	.tip {
		text-align: left;
	
		ol {
			list-style: disc;
			margin-left: 20px;
		}
	}
}