[contenteditable] {
	outline: none;
}

#bible {
	width: 37%;
	position: fixed;
	left: 26%;
	top: 0;
	bottom: 0;
	right: auto;
	z-index: 999;
	
	.margin_wrapper {
		/*vertical-align: middle;*/
		width: 30%;
		display: none;
		color: #CF3A3A;
		line-height: 1.4em;
		font-size: .9em;
	}
	
	.verse_wrapper {
		/*vertical-align: middle;*/
		width: 40%;
		padding: 0px 6%;
	}
	
	&.show_margins {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		
		#reference_selector {
			left: 31.5%;
		}
		
		.margin_wrapper {
			display: table-cell;
		}
		
		.right_margin_wrapper {
			padding-right: 3%;
			text-align: left;
		}
		
		.left_margin_wrapper {
			padding-left: 3%;
			text-align: right;
		}
		
		.verse_wrapper {
			padding: 0px 4%;
		}
	}	
}

.chapter {
	
	.header {
		text-align: center;
		max-width: 500px;
		margin: 0 auto;
		
		.chapter_reference {
			font-family: Georgia, Times, Serif;
			font-size: 32px;
			text-align: center;
			padding: 40px 0px 20px 0px;
			
			a {
				color: #111;
				text-decoration: none;
			}
		}
		
		.adjacent_chapter {
			font-size: 36px;
			font-weight: bold;
			color: #eee;
			margin-top: -55px;
			cursor: pointer;
			text-decoration: none;
			
			&:hover {
				color: #8a0000;
			}
		}
		
		.next_chapter {
			float: right;
			margin-right: 6%;
		}
		
		.prev_chapter {
			float: left;
			margin-left: 6%;
		}
	}
	
	.chapter_body {
		font-size: 15px;
		line-height: 30px;
		color: #333;
		margin: 0 auto;
		text-align: justify;
		overflow-y: auto;
		
		.chapter_body_verses {
			margin: 0 auto;
			width: 100%;
		}
		
		p {
			margin-bottom: 20px;
		}
	}
	
	.verse {
		padding: 9px 0px;
		
		.verse_body {
			display: inline;
			
			div {
				display: inline;
			}
		}
		
		.verse_reference {
			display: inline;
			
			.verse_book_short, .verse_book_full, .verse_chapter_number {
				display: none;
			}
		}
		
		.verse_number {
			display: inline;
			color: #fff;
			background: #bbb;
			font-size: 13px;
			font-weight: bold;
			padding: 3px 6px;
			border-radius: 5px;
			cursor: pointer;
			display: inline;
			
			&:hover {
				background: #8a0000;
			}
		}
		
		.w {
			/*
			&:hover {
					background: #FFFDB4;
				}*/


			&.selected {
				background: #ffed1f;
				/*
				border-radius: 5px;
						padding: 5px 3px;*/

			}
		}
	}
}