body {
	padding: 15px;
	background: url(/assets/bg.jpg);
	font-family: Helvetica;
	margin-right: 25px;
	font-size: .9em;
}

* {
	margin: 0;
	outline: 0;
}

img {
	border: 0;
}

#main_container {
	background: #f5f1ea;
	padding: 13px;
}

.container {
	width: 100%;
	min-width: 700px;
	max-width: 1400px;
	
	.inner_container {
		background: #fff;
		color: #3b2403;
		box-shadow: 0px 0px 6px #bbb;
		
		#bible {
			float: left;
			width: 50%;
			box-shadow: 3px 0px 1px #ccc;
			position: relative;
		}

		#full_story {
			float: right;
			width: 50%;
			position: relative;
		}
		
		.innery {
			padding: 35px;
			min-height: 100px;
			overflow-y: auto;
		}
		
		.title {
			text-align: center;
			margin: 0 auto;
			width: 100%;
			font-size: 1.1em;
			font-weight: bold;

			a {
				background: #9A4F01;
				color: #fff;
				padding: 8px 10px;
				display: block;
				box-shadow: 0px 0px 6px #111;
				border-radius: 3px;
				text-decoration: none;
				z-index: 999;
			}

			a:hover {
				background: #804101;
			}
		}
	}
}

.clear {
	clear: both;
}

#header {
	padding-bottom: 10px;
	
	#logo {
		float: left;
		
		img {
			width: 120px;
		}
	}
	
	#links {
		font-size: .8em;
		float: right;
		list-style: none;
		margin-right: -35px;
		
		li {
			display: inline;
			
			a {
				color: #ccc;
				text-decoration: none;
				display: inline-block;
				padding: 0px 15px;

				&:hover {
					color: #fff;
				}
			}
		}
	}
}

#welcome {
	background: #CEF7D6;
	color: green;
	font-size: .9em;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid green;
	position: absolute;
	width: 20%;
	text-align: center;
	margin: -65px 0 0 35%;
	box-shadow: 0px 0px 3px #444;
	z-index: 9999;
	
	a {
		color: green;
		text-decoration: none;
		font-weight: bold;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

#discover_meta {
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.1em;
	font-weight: bold;
	color: #ddd;
	
	a {
		text-decoration: none;
		color: #333;
	}
}

.field {
	margin: 20px 0;
	
	label {
		display: inline-block;
		color: #444;
		font-size: .9em;
		margin: 0 0 6px 0;
	}
	
	input, textarea {
		border-radius: 4px;
		box-shadow: inset 0px 0px 3px #ccc;
		border: 1px solid #ccc;
		font-size: .9em;
		padding: .5em;
	}
}

.button {
	cursor: pointer;
	background: url(/assets/buttonbg.png) repeat-x;
	background-position: 0px 10px;
	padding: .5em 1.5em;
	display: inline-block;
	color: #eee !important;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, .1);
	border-radius: 4px;
	text-decoration: none !important;
	border: 1px solid;
	box-shadow: inset 1px 1px 0px rgba(255, 255, 255, .2);
	outline: none;
	font-weight: bold;
}

.button:hover {
	background-position: 0px -1px;
	box-shadow: inset 1px 1px 0px rgba(255, 255, 255, .4);
}

.button:active {
	box-shadow: inset 0px 4px 6px rgba(0, 0, 0, .2);
}

.button.disabled {
	background-color: #777;
	border-color: #777;
}

.button.disabled:hover {
	background-position: 0px;
	box-shadow: inset 1px 1px 0px rgba(255, 255, 255, .2);
	cursor: wait;
}

.green {
	background-color: #008000;
	border-color: #008000;
}

.blue {
	background-color: #2E4C81;
	border-color: #2E4C81;
}

.red {
	background-color: #A40101;
	border-color: #A40101;
}

.gray {
	background-color: #333;
	border-color: #333;
}

.light_gray {
	background-color: #777;
	border-color: #777;	
}

.small {
	font-size: .8em;
}