#stories_list {
	margin: 0 -15px;
}

.full_story {
	padding: 10px 20px;
	
	.header {
		margin-top: -10px;
	}
	
	.story_url {
		font-size: .7em;
		display: block;
		margin: -17px 0 20px 0;
		color: #999;
	}
}

.story {
	padding: 10px 20px;
	cursor: pointer;

	.name {
		font-size: 14px;
		font-weight: bold;
		color: #333;
	}

	.user_name {
		color: #777;
		font-size: 13px;
	}

	&.selected {
		background: #ddd !important;
	}

	&.hover {
		background: #fff;
	}
}